*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgba(104, 253, 111, 0.4), rgba(0, 119, 255, 0.3)), url('back.gif');
    background-size: cover;
}

  h1{
    text-align: center;
    color: white;
    margin-top: 15%;
    font-family: "Jersey 15", sans-serif;
    font-size: 120px;
  }

  h5{
    margin-top: -20px;
    text-align: center;
    color: white;
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
  }

  .button-container {
    text-align: center;
}

.pixel-button {
    background-color: rgb(141, 209, 77);
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-family: "Jersey 15", sans-serif;
    font-size: 30px;
}

.pixel-button:hover {
    scale: 1.2;
    background-color: rgb(44, 171, 255);
    color: white;/* Darker Green */
    box-shadow: none;
}

.pixel-button:active {
    transform: translateY(2px);
}