*{
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(16, 60, 255);
}

.zero-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}

.first-page img{ 
    background-size: cover;
    background-position: center;
    width: 100%;
}

.second-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.third-page img{ 
    background-size: cover; 
    background-position: center;
    width: 100%;
}

.fourth-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.fifth-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.sixth-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.seventh-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.eight-page img{ 
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.nine-page img{ 
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.tenth-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.eleven-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.twelve-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.thirtheen-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.foutheen-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.fiftheen-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.sixtheen-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.end-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}

button{
    background-color: #a5a5a5;
    color: white;
    border: none;
    font-size: 35px;
    font-family: "Jersey 15", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover{
    scale: 1.1;
    background-color: #6e0202;
}

#multiply{
    top: 2190px; 
    right: 100px;
    position: absolute;
    display: block; 
}

#divide{
    top: 2610px; 
    right: 90px;
    position: absolute;
    display: block; 
}

#multiplyPage{
    position: absolute; 
    top: 1789px; 
    background-size: cover; 
    background-position: center;
    width: 100%;
    display: none;
}

#dividePage{
    position: absolute; 
    top: 1787px; 
    background-size: cover; 
    background-position: center;
    width: 100%;
    display: none;
}

#back{
    top: 2580px; 
    left: 40px;
    position: absolute;
    display: none; 
}

#backToReporters{
    top: 15900px; 
    left: 40%;
    position: absolute;
    display: block; 
}

#backToReporters:hover{
    scale: 1.1;
    background-color: #a509cc;
}

#quizGame{
    top: 15970px; 
    left: 39%;
    position: absolute;
    display: block; 
}

#quizGame:hover{
    scale: 1.1;
    background-color: #a509cc;
}

#helloWorldExample{
    position: absolute; 
    top: 800px;
    right: 250px; 
    background-size: cover; 
    background-position: center;
}

#helloWorldExample:hover{
    scale: 1.1;
    background-color: rgb(25, 106, 255);
}

#inputExample{
    position: absolute; 
    top: 800px;
    right: 50px; 
    background-size: cover; 
    background-position: center;
}

#inputExample:hover{
    scale: 1.1;
    background-color: rgb(25, 106, 255);
}

#arithmeticExample{
    position: absolute; 
    top: 2600px;
    left: 50px;
    background-size: cover; 
    background-position: center;
}

#logicExample{
    position: absolute; 
    top: 12450px;
    right: 600px; 
    background-size: cover; 
    background-position: center;
}

#logicExample:hover{
    scale: 1.1;
    background-color: rgb(55, 0, 255);
}

#loopsExample{
    position: absolute; 
    top: 13330px;
    right: 80px; 
    background-size: cover; 
    background-position: center;
}

#loopsExample:hover{
    scale: 1.1;
    background-color: rgb(114, 34, 23);
}

#arrayExample{
    position: absolute; 
    top: 15120px;
    right: 80px; 
    background-size: cover; 
    background-position: center;
}

#arrayExample:hover{
    scale: 1.1;
    background-color: rgb(95, 0, 119);
}
