*{
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(16, 60, 255);
}

.zero-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}

.first-page img{ 
    background-size: cover;
    background-position: center;
    width: 100%;
}

.second-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.third-page img{ 
    background-size: cover; 
    background-position: center;
    width: 100%;
}

.fourth-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.fifth-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.sixth-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.seventh-page img{
    background-size: cover;  
    background-position: center;
    width: 100%;
}

.eight-page img{ 
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.nine-page img{ 
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.tenth-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.eleven-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.twelve-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}
.end-page img{
    background-size: cover; 
    background-position: center;
    width: 100%;
}

#backToReporters{
    background-color: #a5a5a5;
    color: white;
    border: none;
    font-size: 35px;
    font-family: "Jersey 15", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    top: 12310px; 
    left: 40%;
    position: absolute;
    display: block; 
}

#backToReporters:hover{
    scale: 1.1;
    background-color: #7e3607da;
}


